

<div id="contact_us">
	<div class="pic-contact">
		<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1489574568406&di=a9fccbac5a3400d722608970f7356ca2&imgtype=0&src=http%3A%2F%2Fwww.yuhuijj.com%2Fnews%2Fweb%2FPcfiles%2F20130826%2F20130826164526_7390.jpg">
	</div>

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		  <div class="row">

			<div class="col-md-5">
				<h3 style="text-align: center;">关于本网站</h3>
		        <p style="font-size: 18px;"></p>
		        <div class="contact-item">
				<img src="https://ooo.0o0.ooo/2017/03/15/58c90eda4ffcc.png"><span>本网站现非真正的商业网站，为董名晏和孙艳两位同学的练习作品，旨在更好的学习掌握ruby on rails。</span>
				</div>
				<div class="contact-item">
				<img src="https://ooo.0o0.ooo/2017/03/15/58c912699bc70.png"><a href="https://fullstack.xinshengdaxue.com"> https://fullstack.xinshengdaxue.com</a>
		        </div>
		        </div>
			
			<div class="col-md-2 dividing-line"></div>
			<div class="col-md-5">
				<h3 style="text-align: center;">联系我们</h3>
				<div class="contact-item">
				<img src="https://ooo.0o0.ooo/2017/03/15/58c90479ad873.png"><span> dongmingyan@gmail.com</span>
				</div>
				<div class="contact-item">
				<img src="https://ooo.0o0.ooo/2017/03/15/58c90420adee7.png"><span> 18200375876</span>
                </div>
				<div class="contact-item">
				<img src="https://ooo.0o0.ooo/2017/03/15/58c90fc346c39.png"><a href="https://github.com/dongmy54/jdstore3"> https://github.com/dongmy54/jdstore3</a>
		        </div>
		        <div class="contact-item">
				<img src="https://ooo.0o0.ooo/2017/03/15/58c9047a1d0d0.png"><span> The future of China</span>
		        </div>
		        <div class="wechat-p">
		        <img src="https://ooo.0o0.ooo/2017/03/15/58c90a4db4c1d.jpeg"><span>当然您也可以扫描左侧二维码</span>
                </div>
			</div>
			</div>
		</div>
	</div>
</div>