<div class="whole">

<!--big picture-->
<div class="ilife-v2">
  <div class="ilife-img">
    <img src="https://ooo.0o0.ooo/2017/03/13/58c6a3bf84121.jpg"/ >
  </div>
  <div class="dream">
        还您一个<span class="dream-span"> 温馨、舒适、自由</span>空间
        <%= link_to("还没注册", new_user_registration_path,
        class: "btn btn-default btn-lg") %>
  </div>
</div>




<!-- introduction end -->
<div class="introduction">
<div class="row">
<div class="col-md-10 col-md-offset-1">
<div class="row">
<span class="intr-text-1">补充线</span>
<span class="intr-text">我们可以</span>
<span class="intr-text-1">补充线</span>
<br>
<br>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <img src="https://ooo.0o0.ooo/2017/03/12/58c53975f114f.jpg">
    <div class="introduction-text">
     <h4 class="introduction-h-font">100%环保健康</h4>
    <p class="introduction-font-color">
     ILIFE拥有世界最先进的材料检测技术，四重检测机制：选材检验、来料检验、生产检验、出厂检验。层层把关，确保产品从原料购进到出厂所有环节实现零污染、零添加。
    </p>
    </div>
    </div>

     <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 introduction-font-color">
     <img src="https://ooo.0o0.ooo/2017/03/14/58c75de9d82a3.jpg">
     <div class="introduction-text">
     <h4 class="introduction-h-font">个性化定制服务</h4>
    <p class="introduction-font-color">风格可选、配色可换，<br>无论什么户型、想要什么效果，ILIFE的设计师总能为您量身打造全新的居住空间。</p>
    </div>
    </div>

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <img src="https://ooo.0o0.ooo/2017/03/14/58c7578c300aa.jpg">
      <div class="introduction-text">
     <h4 class="introduction-h-font">72小时闪电到货</h4>
    <p class="introduction-font-color">
      ILIFE的线下仓库覆盖全国大、中、小城市，至收到您订单起我们以单位小时计算到货速度，快速发货的同时，为您提供包物流、包送货、包安装的三包服务，真正让您省心、省力。
    </p>
    </div>
    </div>
  </div>
  </div>
  </div>
 </div>
  
<!-- different space-->
<div class="row" style="margin-bottom: 20px;">
<div class="col-md-10 col-md-offset-1">
<div class="row">
  <div class="col-md-8">
    <img src="https://ooo.0o0.ooo/2017/03/14/58c7790a85455.jpg" style="width: 100%;height: 100%;border-radius: 37px;">
    </div>

    <div class="col-md-4" style="margin-top: 15%;color: #483C32;">
     <div style="font-size: 28px;text-align: center;">客厅</div>

     <div style="font-size: 20px;">职场之路如履薄冰，回家卸去一身疲惫。</div> 
    </div>
  </div>
</div>
</div>

<div class="row" style="margin-bottom: 20px;">
<div class="col-md-10 col-md-offset-1">
<div class="row">
  

    <div class="col-md-4" style="margin-top: 15%;color: #483C32;">
     <div style="font-size: 28px;text-align: center;">餐厅</div>

     <div style="font-size: 20px;">许你一世承诺，我想给你一个家，一起柴米油盐、一起细水长流。</div> 
    </div>

    <div class="col-md-8">
    <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1489476761828&di=75aba4ef7cf6c160d806db9b5e36e24c&imgtype=0&src=http%3A%2F%2Fpic.58pic.com%2F58pic%2F14%2F59%2F71%2F14u58PICinz_1024.jpg" style="width: 100%;height: 100%;border-radius: 37px;">
    </div>

  </div>
</div>
</div>

<div class="row">
<div class="col-md-10 col-md-offset-1">
<div class="row">
  <div class="col-md-8">
    <img src="https://ooo.0o0.ooo/2017/03/14/58c77693eb3da.jpg" style="width: 100%;height: 100%;border-radius: 37px;">
    </div>

    <div class="col-md-4" style="margin-top: 15%;color: #483C32;">
     <div style="font-size: 28px;text-align: center;">卧室</div>

     <div style="font-size: 20px;">你说羡慕命中注定的爱情，而我早已把你当作我的不二之选。</div> 
    </div>
  </div>
</div>
</div>

<!-- different space end-->




<!-- introduction end -->

<!-- customer feedback -->
<div id="customer-feedback" class="row">
  <div class="module-name decorative">
    <span>顾客反馈</span>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <div class="row">
      <div class="col-md-4 ">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="http://img3.imgtn.bdimg.com/it/u=1624654914,921462327&fm=11&gp=0.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            我是一个平时比较懒的人，最怕的事就是麻烦。<br>
            原本以为本次买家具各种选购会很累，但让我万万没想到的是，<br>全屋定制方案简直一步到位，<br>
          而且整体风格也很棒～，最轻松的一次购物！
          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - 爱笑的丫头
          </p>
          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
     </div>

      <div class="col-md-4">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="http://img4.imgtn.bdimg.com/it/u=2256468309,3478539869&fm=23&gp=0.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            由于工作关系我经常出差在外，老婆每次让我装饰新居，<br>
            我都各种推脱，其中原因是我真的没有那么多时间，<br>而这次借公司放假之际，我联系了ILIFE的客服，没想到从开始联系到安装完毕，三天就搞定了，🚀速度～
            <br>
          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - 都市文艺青年
          </p>

          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="fd-avatar-box text-center">
          <div class="fd-avatar-box-color-overlay"></div>
          <img src="http://img1.imgtn.bdimg.com/it/u=207928594,767718927&fm=23&gp=0.jpg" class="round-image-74">
        </div>

        <div class="quote-box-1">
          <p><i class="fa fa-quote-left pull-left" aria-hidden="true"></i></p><br>
          <p class="feedback-info text-center">
            家里有个5岁的小朋友，所以选购家具最担心的无非是，<br>材质不健康、有较大的气味。由于对家具不了解，所以在材料<br>问题上犹豫了很久，在朋友的强烈推荐下，选择了<br>ILIFE，让我意外的是没有半点气味，当天即可入住。
            
          </p>
          <p class="feedback-info text-center" style="font-size:16px;">
            - 外企高管
          </p>
          <p><i class="fa fa-quote-right pull-right" aria-hidden="true"></i></p>
        </div>
      </div>
    </div>
  </div>

</div>



<!-- call-to-action -->

<div id="call-to-action" class="row">
  <div class="text-center">
    <p>默默的等待，只为给您一个温暖的家！</p>
    <br>
    <%= link_to("我去逛逛 <i class='fa fa-arrow-right'></i>".html_safe, products_path, class: "btn btn-default btn-lg") %>
  </div>
</div>
<!-- end of call-to-action -->


   
<%= render "common/footer" %>
</div><!--modify margin-left and margin-right style -->








