
<section class="jk-slider">
    <div id="carousel-example" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <a href="#"><img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcvv8b34uij31hc0m8wok.jpg" /></a>
      	<div class="hero">
        <hgroup>
            <h1>爱工作</h1>
            <h1>也是爱生活</h1>
            <h3>从工作到生活，你想要的这里都有</h3>
            <p>WE ARE ILIFER!</p>
        </hgroup>
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fcvuyupn66j31hc0m84qq.jpg" /></a>
      <div class="hero">
        <hgroup>
            <h1>享受用餐</h1>
            <h1>让你活力每一天</h1>
            <h3>从工作到生活，你想要的这里都有</h3>
            <p>WE ARE ILIFER!</p>
        </hgroup>

      </div>
    </div>
    <div class="item">
      <a href="#"><img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcvw66xzmyj31hc0m8doz.jpg" /></a>
      <div class="hero">
        <hgroup>
            <h1>你的睡眠</h1>
            <h1>由我来照顾</h1>
            <h3>从工作到生活，你想要的这里都有 </h3>
            <p>WE ARE ILIFER!</p>
        </hgroup>

      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

</section>

<div class="container">
<div class="shading">
<h2> 热烈推荐 </h2>
<div class="product-all">
<a href="https://infinite-atoll-59672.herokuapp.com/products">更多商品 <</a>
</div>
<hr>
<div class="row">
<div class="product">
	<div class="col-sm-4">
		      <a href="https://infinite-atoll-59672.herokuapp.com/products/9">
		        <img src="https://ooo.0o0.ooo/2017/02/19/58a950d26e80c.jpg" style="width:100%" >
		        </a>
               <p>￥ 1899</p>
              <a href="https://infinite-atoll-59672.herokuapp.com/products/9">时尚风格单人床</a>
              </div>

	<div class="col-sm-4">
	           <a href="https://infinite-atoll-59672.herokuapp.com/products/8">
		        <img src="https://fullstack01.s3.amazonaws.com/uploads/photo/image/46/medium_11.jpg" style="width:100%" >
		        </a>
              <p>￥ 288</p>
             <a href="https://infinite-atoll-59672.herokuapp.com/products/8">多功能个人电脑椅</a>
	</div>

	<div class="col-sm-4">
		<a href="https://infinite-atoll-59672.herokuapp.com/products/10">
		        <img src="https://ooo.0o0.ooo/2017/02/19/58a950d3b39d5.jpg" style="width:100%" >
		        </a>
               <p>￥ 5488</p>
               <a href="https://infinite-atoll-59672.herokuapp.com/products/10">超柔软垫袋弹簧沙发</a>
	          </div>
       </div>
              </div>
</div>

<br><br>
<h2> 特色商品 </h2>   
<div class="product-all">
<a href="https://infinite-atoll-59672.herokuapp.com/products">更多商品 <</a>
</div>
<hr>
<div class="row">
<div class="product">
	<div class="col-sm-4">
		      <a href="https://infinite-atoll-59672.herokuapp.com/products/11">
		        <img src="https://fullstack01.s3.amazonaws.com/uploads/photo/image/61/medium_1.jpg" style="width:100%" >
		        </a>
               <p>￥ 1199</p>
              <a href="https://infinite-atoll-59672.herokuapp.com/products/11">现代酷派的设计和玻璃顶板餐饮一套</a>
              </div>

	<div class="col-sm-4">
	           <a href="https://infinite-atoll-59672.herokuapp.com/products/12">
		        <img src="https://ooo.0o0.ooo/2017/02/19/58a9623dd8e51.jpg" style="width:100%" >
		        </a>
              <p>￥ 1800</p>
             <a href="https://infinite-atoll-59672.herokuapp.com/products/12">有脚床垫床Bonnerukoiru规范的两倍大小</a>
	</div>

	<div class="col-sm-4">
		<a href="https://infinite-atoll-59672.herokuapp.com/products/13">
		        <img src="https://fullstack01.s3.amazonaws.com/uploads/photo/image/71/medium_1.jpg" style="width:100%" >
		        </a>
               <p>￥ 1888</p>
               <a href="https://infinite-atoll-59672.herokuapp.com/products/13">超级柔和2座创意沙发</a>
	          </div>
</div>
</div>


<!-- I Know You -->

	








	<div class="row">
	      <br>
	      <div class="know-you">
		懂你的<span class="heart">❤️</span>!
        ️</div>
	</div>
    <hr>
            <div class="row row-margin-bottom">
            <div class="col-md-5 no-padding lib-item" data-category="view">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="lib-img-show" src="https://ooo.0o0.ooo/2017/02/20/58aa6eda2fc63.jpg">
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                健康
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                               每一种材料都精挑细选，因为我们比您更在乎您和您家人的健康。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5 no-padding lib-item" data-category="ui">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="lib-img" src="https://ooo.0o0.ooo/2017/02/20/58aa6eda6703d.jpg">
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                简单
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                                整体布局方案，将帮您节约宝贵的时间，品味、时间一个都不落下。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div>
         <div class="row row-margin-bottom"> -->
            <div class="col-sm-5 no-padding lib-item" data-category="view">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="lib-img-show" src="https://ooo.0o0.ooo/2017/02/20/58aa6eda554da.jpg">
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                升级
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                                未曾停下脚步，向您交付最好的产品和设计是我们永远的追求。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-sm-5 no-padding lib-item" data-category="ui">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="lib-img" src="https://ooo.0o0.ooo/2017/02/20/58aa6eda60010.jpg">
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                               服务
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                                天涯海角，您在哪里我们的服务就将陪伴你到哪里。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>


