<style>
body {
   overflow-x:hidden;
   position: relative;
   background-color: rgb(250,246,236);
   box-sizing: border-box;

 }
</style>
<div class="fqa">
	<h2>FQA</h2>
	<hr>
   <div class="question">Q: 你们的家具是正品吗？</div>	
   	<p class="answer"><span class="character-a">A:</span> 我们的家具都是来自正规ILIFE厂家，100%保证为正品，请放心购买。</p>

   	 <div class="question">Q: 你们的家具的材质健康吗？会不会有很大气味？</div>	
   	<p class="answer"><span class="character-a">A:</span>我们的家具生产所有环节都有严格的检测流程，使用的原材料均为天然、无污染材料，材质绝对健康，不会有任何气味。</p>

   	 <div class="question">Q: 所有产品是否包邮、需要自己去安装吗？</div>	
   	<p class="answer"><span class="character-a">A:</span> ILIFE所有商品免费包配送（包上楼）、包安装，所以不需要您自己安装哦！</p>

   	 <div class="question">Q: 买到家具后颜色不喜欢或者尺寸不合适可以更换吗？</div>	
   	<p class="answer"><span class="character-a">A:</span>我们的家具均提供45天无理由退换，颜色不喜欢、尺寸不合适都可更换。</p>

   	 <div class="question">Q: 什么是个性化定制服务？</div>	
   	<p class="answer"><span class="character-a">A:</span>个性化定制服务指：我们按照您提供的要求，针对您的户型、喜欢的风格，进行设计搭配形成整套装饰风格的服务。</p>

   	 <div class="question">Q: 个性化定制服务只针对VIP吗？</div>	
   	<p class="answer"><span class="character-a">A:</span> 不是，只需要您注册ILIFE官网即可。</p>

   	 <div class="question">Q: 个性化定制服务会收取费用吗？一般什么价格？</div>	
   	<p class="answer"><span class="character-a">A:</span> 会，由于需要我们的设计师亲自到您的现场测绘，因此我们一般会收取1000-1500元设计费用，家具按照原价销售。</p>

   	 <div class="question">Q: 如果网上下单一般都久能到货？</div>	
   	<p class="answer"><span class="character-a">A:</span>我们永远最先进的物流配送系统，正常情况下72小时之内能到货。</p>
    <div class="btn btn-default">
    <a href="/">回到首页</a> 
    </div>

    <div class="btn btn-default">
    <a href="/products">想去逛逛</a> 
    </div>
    <div class="btn btn-default">
    <a href="/contact_us">联系我们</a> 
    </div>
</div>