/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

/*设置页脚*/

 .footer-style {
  background: #444;   /*背景颜色*/
  font-size: 12px;   /*字体12px*/
  height: 100px;     /*设置高度*/
  line-height: 14px;      /*设置行高*/
  color: white; /*字体颜色*/
  margin-top: 100px; /*外边距*/
   text-align: center;  /*文字居中*/
 }


.ul-style {
   list-style-type: none; /*不要列表样式*/
   text-align: center;  /*文字居中*/
}

.footer-style a {
    color: white;   /*文字颜色*/
    padding-right: 33px;      /*文字右边加点内边距*/
    text-decoration: none; /*不要下划线啦，好丑*/
    list-style-type: none;
}

.footer-style a:hover {
  color: #C81623; /*鼠标一上去的时候，字体变成红色*/  
}

/*首页商品*/

.product a {
  color: black;   /*修改a标签文字颜色*/
}

.product p {
  color: red;   /*修改产品价格颜色*/
}

.product img {
   border-radius: 20px;  /*商品图片圆角*/
}

.product-all {
  float: right;
  font-size: 15px;
  
}

.product-all a {
  color: #505050; /*更多商品字体颜色*/
}

/*加底纹*/
.shading {
  /*background-image:url('https://ooo.0o0.ooo/2017/02/19/58a967e9e7c68.png');底纹*/
  background-repeat: repeat; /*重复*/
  padding-bottom: 40px;  /*下边距*/
  padding-top:0px;  /*上边距*/
  font-family: Arial ; /*修改整体字体*/
}




/*懂你部分*/
.know-you {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1.2rem;
    clear: both;
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
    padding: 10px 0;
    font-weight: normal;
    border-top: none;
    background: #f1f1f1;
    border-bottom: 1px solid #fff0f0;
    text-align: center;
}

.heart {
  font-size: 4rem;   /*把心变大*/
}

.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
 .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 100px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}


