/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

// navbar
/* 类别部分 */
.nav-list { border-bottom: px solid #eee; }
.nav-list > li:last-child { border-right: 0px solid #eee; }
.nav-list > li > a:hover { font-size:110%; text-decoration: none; }//文字放大效果
.nav-list > li > a > span {
  color:#444;//改文字颜色
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}
.mega-dropdown { position: static !important; }
.mega-dropdown-menu {
  padding: 20px 15px 15px;
  text-align: center;//文字居中
  width: 100%;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px; //控制“类别”整个下拉页面到窗口左端的距离
    z-index: 1000;//定义屏幕纵深方向的顺序
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;//5px控制“类别”下拉页面中的图片上下端的距离
    margin: 2px 0px 0px;//影响整个下拉页面
    font-size: 14px;
    list-style: none;//表明list项前面没有什么修饰（一片空白）
    background-color: white;//类别下拉页的背景颜色
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.14902);//边框效果
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 4px;//边框效果
    box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px;//边框效果
}
.nav-list > li {
    padding: 20px 55px 55px;//控制各“类别”项目之间的距离 by sunny
    border-left:0px;
}
.nav-list {
    border-bottom: 0px;
}
/* 类别部分over */
.navbar{
  margin-bottom: -5px;
  margin-left: -20px;
  margin-right: -20px;
  border-radius: 0;
}
.icon-size
{
    font-size: 87px;
}
.navbar-brand {
    width: 70px;
    height: 50px;
    background: no-repeat center center;
    background-size: 50px;
    padding-top: 7px;
}
.navbar-nav {
    padding-left: 15px;
}
.navbar-container-fluid {
    padding-right: 0px;//导航栏到窗口右端距离，15改为0
    padding-left: 0px;//导航栏到窗口左端距离，15改为0
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(57,57,57);//导航栏背景颜色
}
.navbar-default{
  border-style: none;//导航栏边框效果
}
.navbar-default .navbar-nav>li>a {
    color: white; //导航栏文字默认颜色
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li.active > a,
.navbar-default .navbar-nav > li.active > a:hover,
.navbar-default .navbar-nav > li.active > a:focus {
  color: rgb(237,76,28);//导航栏文字动态颜色 by sunny
}

#search-id {
  width: 200px;//搜索框宽度
  padding-top: 7px;//搜索框上下定位
}
// navbar over


// login
.x-hidden{
  overflow-x:hidden;
  background-size: cover;
}

.signup-hero {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 3;
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}

.panel-default {
opacity: 0.9;
margin-top:60px;
}
.form-group.last { margin-bottom:0px; }
//login over

//sign_up
.main{
margin-top:100px;
-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.24);
padding:0px;
}
.left-side{
	padding:0px 0px 100px;
	background:rgb(237,76,28);
	background-size:cover;
  height:514px;
  opacity: 0.9;
}
.left-side h1{
	font-size: 70px;
    font-weight: 900;
	color:#FFF;
	padding: 50px 10px 00px 26px;
	}
	.left-side p{
    font-weight:600;
	color:#FFF;
	padding:10px 10px 10px 26px;
	}
	.right-side{
	padding:5px 0px 100px;
	background:#FFF;
	background-size:cover;
	min-height:514px;
  height:514px;
  opacity: 0.9;
}
	.right-side h1{
	font-size: 30px;
    font-weight: 700;
	color:#000;
	padding: 50px 10px 00px 50px;
	}
	.right-side p{
    font-weight:600;
	color:#000;
	padding:10px 50px 10px 50px;
	}
	.form{padding:10px 50px 10px 50px;}
//sign_up over

/*设置页脚*/

 .footer-style {
  background: #444444;   /*背景颜色*/
  font-size: 12px;   /*字体12px*/
  height: 100px;     /*设置高度*/
  line-height: 14px;      /*设置行高*/
  color: white; /*字体颜色*/
  margin-top: 100px; /*外边距*/
   text-align: center;  /*文字居中*/
 }


.ul-style {
   list-style-type: none; /*不要列表样式*/
   text-align: center;  /*文字居中*/
}

.footer-style a {
    color: white;   /*文字颜色*/
    padding-right: 33px;      /*文字右边加点内边距*/
    text-decoration: none; /*不要下划线啦，好丑*/
    list-style-type: none;
}

.footer-style a:hover {
  color: #C81623; /*鼠标一上去的时候，字体变成红色*/
}

/*首页商品*/

.product a {
  color: black;   /*修改a标签文字颜色*/
}

.product p {
  color: red;   /*修改产品价格颜色*/
}

.product img {
   border-radius: 20px;  /*商品图片圆角*/
}

.product-all {
  float: right;
  font-size: 15px;

}

.product-all a {
  color: #505050; /*更多商品字体颜色*/
}

/*加底纹*/
.shading {
  /*background-image:url('https://ooo.0o0.ooo/2017/02/19/58a967e9e7c68.png');底纹*/
  background-repeat: repeat; /*重复*/
  padding-bottom: 40px;  /*下边距*/
  padding-top:0px;  /*上边距*/
  font-family: Arial ; /*修改整体字体*/
}




/*懂你部分*/
.know-you {
    font-size: 3rem;
    text-align: center;
    letter-spacing: 1.2rem;  /*字间距*/
    clear: both;
    position: relative;
    overflow: hidden;
    margin-bottom: 0px;
    padding: 10px 0;
    font-weight: normal;
    border-top: none;
    background: #f1f1f1;
    border-bottom: 1px solid #fff0f0;
    text-align: center;
}

.heart {
  font-size: 4rem;   /*把心变大*/
}

.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
}

.lib-panel .row,
 .col-md-6 {
    padding: 0;
    background-color: #FFFFFF;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #FFFFFF;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #d9d9d9;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
    left: 20px;
}

.row-margin-bottom {
    margin-bottom: 20px;
    margin-left: 60px;
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 100px 0 rgba(0,0,0,.10);
}

.no-padding {
    padding: 0;
}

/*商品详情页*/

.tab {
  list-style-type: none; /*去掉清单样式*/
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

.tab li {
  float: left;   /*标题左浮动使其同行*/
}

.tab li a {
  display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.tab li a:hover, .tab li.active a {
    color: black !important;
    background-color: #f1f1f1 !important;
}



#tab-default-1 {
  border:1px solid #787878;  /*设置商品描述实线框*/
  font-size: 30px;
  text-align: center;
  padding-bottom: 10px;
}

#tab-dafault-1 img {
  text-align: center;  /*让商品描述图片居中*/
}

.preview-type {
  list-style-type: none; /*去掉清单样式*/
}

/*点击产品缩略图大图切换*/
.tab-controller {
    float: left;
    width: 100px;
    height: 100px;
}

.tab-controller img {
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #DADADA;
    padding: 5px;
    margin: -10px 40px 10px 12px;
    letter-spacing: 10px;
}

.tab-content1 {
    display: none;
    width: 749px;
    height: 440px;
}



/* 产品索引 */
.pro-index img {
  border: 1px solid #787878;
}
.pro-index-font {
  font-size: 14px;
}

.pro-index-font:link{
  color: #787878;
}

.bg-index {
  width: 1200px;
  height: 40px;
  margin: 20px auto;
}

.bg-index-button {
  float: left;
  width: 80px;
  margin-right: 10px;
  font-size: 18px;
  height: 40px;
  background: #F0F0F0;
}

.btn-info {

}
/*常用背景颜色*/
.color-1 {
  background: #787878;
}

.color-2 {
  background: #D9D9D9;
}

.color-3 {
  background: #0D0D0D;
}

.color-4 {
  background: yellow;
}

.color-5 {
  background: #909090;
}

.color-6 {
  background: #F393EE;
}

/* product comment */
.bg-color1 {
  background: #50514F;
}

.bg-color2 {
  background: #F25F5C;
}

.bg-color3 {
  background: #FFE066;
}

.bg-color4 {
  background: #247BA0;
}

.bg-color5 {
  background: #70C1B3;
}



.comment-title {
  width:  600px;
  height:  30px;
}
.comment-commenter {
  width:  500px;
  height:  30px;
}
.comment-description { 
  width: 1100px;
  height: 30px;
}


//全部商品页
/*上半页*/
.spy-body {
font: 400 1em/1.5 "Neuton";
background: #444444;
color: rgba(255, 255, 255, 0.25);//小号文字的颜色
text-align: center;
margin: 20px auto;
width:auto;
}
.spy-p {
text-transform: uppercase;
letter-spacing: .5em;
display: inline-block;
border: 4px double #fff;
border-width: 4px 0;
padding: 1.5em 0em;
width: 40em;
margin: 30px auto;
}
.spy-p span {
font: 700 4em/1 "Oswald", sans-serif;
letter-spacing: 0;
padding: .25em 0 .325em;
display: block;
margin: 0 auto;
text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
/* Clip Background Image */
background: url(http://likebangla.tk/demo/animated_text_fill.png) repeat-y;//斜边条纹效果
-webkit-background-clip: text;
/* Animate Background Image */
-webkit-text-fill-color: transparent;
-webkit-animation: aitf 80s linear infinite;
/* Activate hardware acceleration for smoother animations */
-webkit-transform: translate3d(0, 0, 0);
-webkit-backface-visibility: hidden;
}

/* Animate Background Image */
@-webkit-keyframes aitf {
0% {
background-position: 0% 50%;
}
100% {
background-position: 100% 50%;
}
}

/*上半页over*/

/*下半页*/
.link{
  color: #ed4c1c;
}
.link:hover{
  color: red;
  text-decoration: none;
}
p{
font-size: 12px;
margin-top: 5px;
}
.price{
font-size: 20px;
  margin: 0;
  color: #333;
}
.right{
float:right;
border-bottom: 2px solid #4B8E4B;
}
.thumbnail{
opacity:0.70;
-webkit-transition: all 0.5s;
transition: all 0.5s;
}
.thumbnail:hover{
opacity:1.00;
box-shadow: 0px 0px 10px #444444;
}
.line{
margin-bottom: 10px;
}
@media screen and (max-width: 770px) {
.right{
  float:left;
  width: 100%;
}
}
/*下半页over*/
//全部商品页over

//分页样式
.sy-pagination>li>a, .sy-pagination>li>span,
.sy-pagination>li>a.current, .sy-pagination>li>span.current,
.sy-pagination>li>a:link, .sy-pagination>li>span:link,
.sy-pagination>li>a:visited, .sy-pagination>li>span:visited,
.sy-pagination>li>a:hover, .sy-pagination>li>span:hover,
.sy-pagination>li>a:active, .sy-pagination>li>span:active,
.sy-pagination>li>a:focus, .sy-pagination>li>span:focus,
{
  border-radius: 50% !important;
  margin: 0 5px;
  color: #ed4c1c;
  background: white;
}
//分页样式over

