 <div class="footer-style">
 <br>
   <ul class="ul-style">
   	   <li>
   	          <a href="#" style="color:#ed4c1c">关于我们</a>
   	          <a href="#" style="color:#ed4c1c">联系我们</a>
   	   </li>

   </ul>
	<p style="color:#ed4c1c">Copyright ©2017 Desgin By 董名晏 和 孙艳</p>
	     <p class="text-center" style="color:#ed4c1c">ILIFE 商城欢迎您的光临</p>
</div>
