 <div class="footer-style">
 <br>
   <ul class="ul-style">
   	   <li>
   	          <a href="#">关于我们</a>
   	          <a href="#">联系我们</a>
   	   </li>
   	   
   </ul>
	<p >Copyright ©2017 Desgin By 董名晏 和 孙艳</p>
	     <p class="text-center">ILIFE 商城欢迎您的光临</p>
</div>

